/* lines inside a rule should be ordered as such: */
/* Positioning */
/* Display & Box Model */
/* Border */
/* Color */
/* Text */
/* Other */

@font-face {
    font-family: 'Chelsea Market';
    src: url('fonts/ChelseaMarket-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Solway';
    src: url('fonts/Solway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Solway';
    src: url('fonts/Solway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Solway';
    src: url('fonts/Solway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

$largeDesktopWidth: 1800px;
$desktopWidth: 1280px;
$tabletWidth: 600px;

$productWidthTablet: 170px;
$productWidthDesktop: 210px;
$productWidthLargeDesktop: 300px;

$smallText: .9em;
$text: 1em;
$bigText: 1.1em;
$biggerText: 1.2em;

$smallTitle: 2.2em;
$title: 2.6em;
$bigTitle: 3em;
$biggestTitle: 3.4em;


$lightestMauve: rgb(255, 237, 232);
$lightMauve: rgb(222,178,191);
$mauve: rgb(188, 128, 145);
$darkestMauve: rgb(124,54,74);

/*
$lightest: rgb(, , );
$light: rgb(, , );
$: rgb(, , );
$dark: rgb(, , );
$darkest: rgb(, , );
*/
$lightSepia: rgb(255, 240, 212);
$sepia: rgb(255, 233, 189);
$darkSepia: rgb(255, 223, 163);
$darkestSepia: rgb(232, 189, 130);
$lightestYellow: rgb(255, 252, 232);
$lightYellow: rgb(255, 250, 212);
$darkYellow: rgb(255, 244, 163);
$lightGreen: rgb(239, 249, 208);
$darkestGreen: rgb(189,215 ,112 );

$xtraDarkGreen: rgb(101,129,9);
$xxtraDarkGreen: rgb(57,74,0);
$xtraDarkSepia: rgb(125,71,21);

$slightlyRounded: 8px;
$rounded: 16px;

@mixin interactable {
    min-height: 40px;
    border: solid 2px $darkSepia;
    border-radius: 15px;
}

@mixin hovers {
    padding: 4px;
    border-radius: $slightlyRounded;
    transition-property: background-color;
    transition-duration: 100ms;
}

@mixin lightHovers {
    @include hovers;
    &:hover {
        background-color: $lightSepia;
    }
}

@mixin darkHovers {
    @include hovers;
    &:hover {
        border-color: $darkestSepia;
        background-color: $darkestSepia;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Solway';
    font-size: $text;
    scrollbar-color: $darkSepia $lightSepia;

    &::-webkit-scrollbar-thumb {
        background: $lightSepia;
    }
    &::-webkit-scrollbar-track {
        background: $darkSepia;
    }
}

button {
    @include interactable;
    @include darkHovers;

    padding: 10px 0;
    background-color: $sepia;
    font: 500 $biggerText 'Solway';
    color: $xtraDarkSepia;
    border-radius: $rounded;
}

input {
    color: $xtraDarkSepia;
}

img {
    border: none;
    border-radius: $slightlyRounded;
}

body {
    margin: 0px;
    background-color: $lightestYellow;
    color: $xtraDarkSepia;
}

.main-container {
    min-width: 100vw;
    min-height: 100vh;
}

.shop-banner {
    background-color: $darkestGreen;
    height: 16.5vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font: $smallTitle 'Chelsea Market';
        color: $xxtraDarkGreen;
    }
}

.about-container {
    background-color: $lightGreen;

    position: fixed;
    right: 0;
    width: 25%;
    height: 100%;
    padding: 2% 6%;

    text-align: justify;
    line-height: 170%;
    color: $xtraDarkGreen;
}

.about {
    vertical-align: middle;

    button {
        display: block;
        margin: 20px auto;
        width: 100%;
    }

    img {
        display: block;
        margin: auto auto 10px auto;
    }
}



.shop-container {
    position: fixed;
    width: 100vw;
    height: 100%;
    margin: auto;
}

.filter-container {
    position: fixed;
    left: 0;
    height: 100%;
    width: 16.5vw;

    display: inline-flex;
    flex-direction: column;
}

.search-container {
    margin: 10px;
    margin-bottom: 0;
}

.search-bar {
    width: 100%;

    button {
        @include interactable;
        position: relative;
        right: 0;
        height: 40px;
        width: 20%;
        vertical-align: top;

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    input {
        @include interactable;
        position: relative;
        left: 0;
        height: 40px;
        width: 80%;
        padding: 10px;
        vertical-align: top;

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.filter-bar {
    margin: 10px;
    margin-top: 0;
    padding: 10px;
}

.filter-item {
    @include lightHovers;
    margin: 6px;
    font-size: $bigText;
}

.filter-button {
    background-color: rgb(130,130,130);
}

.shop-items-container {
    position: absolute;
    right: 0;
    height: 83.5vh;

    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;

    overflow-y: auto;
}

.shop-item {
    @include lightHovers;
    width: 130px;
    height: fit-content;
    margin: 20px;

    flex-shrink: 0;

    h3 {
        font-weight: 500;
        font-size: $biggerText;
    }
}

.footer {
    background-color: $darkestGreen;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    button {
        width: 25%;
        max-width: 240px;
    }
}

.placeholder-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin: auto;
    background-color: $lightSepia;
}

@media only screen and (min-width: $tabletWidth) {
    .shop-container {
        width: 100vw;
    }
    .shop-items-container {
        width: 75vw;
    }
    .filter-container {
        width: 25vw;
    }
    .shop-banner h1 {
        font-size: $title;
    }
    .shop-item {
        width: $productWidthTablet;
    }
    .placeholder-img {
    }
}

@media only screen and (min-width: $desktopWidth) {
    .shop-container {
        width: 75vw;
    }
    .shop-items-container {
        width: 58.5vw;
    }
    .filter-container {
        width: 16.5vw;
    }
    .shop-banner h1 {
        font-size: $bigTitle;
    }

    .shop-item {
        width: $productWidthDesktop;
    }
    .placeholder-img {
    }
}

@media only screen and (min-width: $largeDesktopWidth) {
    .shop-item {
        width: $productWidthLargeDesktop;
    }
    .placeholder-img {
    }
}