/* lines inside a rule should be ordered as such: */
/* Positioning */
/* Display & Box Model */
/* Border */
/* Color */
/* Text */
/* Other */

@font-face {
    font-family: 'Chelsea Market';
    src: url('fonts/ChelseaMarket-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Solway';
    src: url('fonts/Solway.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Solway';
    src: url('fonts/Solway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Solway';
    src: url('fonts/Solway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

$largeDesktopWidth: 1800px;
$desktopWidth: 1280px;
$tabletWidth: 600px;

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: white;
    font-family: 'Solway';
}

.main-container {
    background-color: rgb(50,50,50);

    min-width: 100vw;
    min-height: 100vh;
}

.shop-banner {
    background-color: rgb(0,0,0);
    height: 16.5vh;
    overflow: hidden;
}

.about-container {
    background-color: rgb(70,20,70);

    position: fixed;
    right: 0;
    width: 25%;
    height: 100%;
}

.shop-container {
    background-color: rgb(70,70,70);

    position: fixed;
    width: 100vw;
    height: 100%;
    margin: auto;
}

.filter-container {
    background-color: rgb(90,90,90);
    position: fixed;
    left: 0;
    height: 100%;
    width: 16.5vw;

    display: inline-flex;
    flex-direction: column;
}

.search-bar {
    background-color: rgb(10,110,110);
    height: 10%;
}

.filter-bar {
    background-color: rgb(110,110,10);
    height:90%;
}

.filter-button {
    background-color: rgb(130,130,130);
}

.shop-items-container {
    background-color: rgb(90,90,90);
    position: absolute;
    right: 0;
    height: 83.5vh;

    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;

    overflow-y: auto;
}

.shop-item {
    background-color: rgb(110,110,110);

    width: 130px;
    height: fit-content;
    margin: 20px;

    flex-shrink: 0;
}

.about-footer {
    background-color: rgb(70,70,70);
}

.placeholder-img {
    width: 120px;
    height: 120px;
    margin: auto;
    background-color: rgb(180, 180, 180);
}

@media only screen and (min-width: $tabletWidth) {
    .shop-container {
        width: 100vw;
    }
    .shop-items-container {
        width: 75vw;
    }
    .filter-container {
        width: 25vw;
    }

    .shop-item {
        width: 170px;
    }
    .placeholder-img {
        width: 155px;
        height: 155px;
    }
}

@media only screen and (min-width: $desktopWidth) {
    .shop-container {
        width: 75vw;
    }
    .shop-items-container {
        width: 58.5vw;
    }
    .filter-container {
        width: 16.5vw;
    }

    .shop-item {
        width: 210px;
    }
    .placeholder-img {
        width: 190px;
        height: 190px;
    }
}

@media only screen and (min-width: $largeDesktopWidth) {
    .shop-item {
        width: 300px;
    }
    .placeholder-img {
        width: 280px;
        height: 280px;
    }
}